<div>

    <!--Header directive-->
    <div header-banner ng-head="Contact Me" ng-subhead="Download from github or email me" ng-imgpath="assets/images/contact-bg.jpg">
    </div>
    <!---->
    <!--Post body-->
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p class="blog-text">
                Hey guys, if got any query feel free to email me. I will feel happy to help you. My email id is mailbox.vikasharma@gmail.com .
            </p>
        </div>
    </div>


</div>