.intro-header {
background-size: cover;

}

.navbar-custom {
    background: 0 0;
    border-bottom: 1px solid transparent;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}
navbar-custom-new {
    background: white;
    border-bottom: 1px solid transparent;
     position: fixed;
    top: -61px;
}
.navbar-custom .nav li a {
    text-transform:uppercase;
    font-weight:800;
}

.navbar-custom-new .navbar-brand:hover,
  .navbar-custom-new .navbar-brand:focus {
       color: #0085a1;
  }
  .navbar-custom-new .nav li a:hover,
  .navbar-custom-new .nav li a:focus {
    color: #0085a1;
  }

@media only screen and (min-width: 768px) {
    .navbar-custom {
        background: transparent;
        border-bottom: 1px solid transparent;
    }

   .navbar-custom .navbar-brand {
     color: white;
     padding: 20px;

  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
        color: rgba(255, 255, 255, 0.8);
  }
   .navbar-custom .nav li a {
    color: white;
    padding: 20px;
    text-transform: uppercase;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
    
}
@media only screen and (max-width: 768px) {
     .navbar-custom {
        background: white;/*rgba(255, 255, 255, 0.71);*/
        border-bottom: 1px solid transparent;
    }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
       color: #0085a1;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: #0085a1;
  }

}

h1,h2 {

font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
font-weight: 800;
font-size: 65px;
}

/*@media only screen and (max-width:768px) {

    h1{
        color:red;
    }
}*/

.logo {
text-align:center;
color:white;
font-weight: bold;

padding:100px;
}

.logo h1 {
        text-shadow: 5px 5px 5px #2e2c34;
}

    .logo h1:hover {
    text-shadow: 5px 5px 5px black;
    
    }

.subhead {
font-size: 24px;
line-height: 1.1;
display: block;
font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
font-weight: 300;
margin: 10px 0 0;
text-shadow: 1px 1px 1px #0085a1 ;
}


.text-style{
    white-space:nowrap;
    overflow:hidden;
    color: #060606;
    text-overflow:ellipsis;
}




.myForm{
    width: 50%;
    margin: auto;
    border-radius: 15px;
    padding: 40px;
    margin-top: 55px;
    background-color: white;
    box-shadow: 0px 0px 12px #8E8E8E;

}

.textInputStyle{
    font-family: cursive;       
}
.has-error{
border-color: red;
}


::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}

.title-style {
    font-size:36px;
    margin-bottom: 10px;
    margin-top: 20px;
    cursor:pointer;
}
.title-style:hover{  
    color: #0085a1;
    text-shadow:1px 1px 5px grey;
}
.author-sign {
font-style: italic;
color: grey;
}

.btn-style {
    padding: 10px 30px;
    border: 1px #ddd solid;
    width: 181px;
    margin-bottom:10px;
    font-size:18px;
    
}
.btn-style:hover{
    background: #0085a1;
    color:white;
}

.copyright {
font-size: 14px;
text-align: center;
margin-bottom: 0;

}

hr {

margin-top:30px;
}

.blog-text {

    line-height: 1.5;
    margin: 30px 0;


}