<div >

    <!--Header directive-->
    <div header-banner ng-head="About Project" ng-subhead="Uses Anularjs and Bootstrap" ng-imgpath="assets/images/about-bg.jpg">
    </div>
    <!---->
    <!--Post body-->
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p class="blog-text" >
                Project uses AnjularJs and Bootstrap. Routing is implemented. Simple services to fetch data from server and uses promises to wait for the response from the server. Various custom directives are created for header and to show blog list.  
            </p>
        </div>
    </div>


</div>